@charset "UTF-8";

table {
    border: 1px;
    width: 900px;
    height: 80px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
    background-color: gray;
    color: white;
    font-weight: bolder;
    
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: gray;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

.vertical {
    text-align: right;

}

.vertical02 {
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
}

tbody > tr:nth-child(even) {
    background-color: lightgray;
}

#rodape {
    font-weight: bolder;
    background-color: gray;
    color: white;
}